<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xdjd.distribution"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 二维码权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 读写取sd卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 使用系统版本更新使用的权限 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <!-- shareSDK -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图 -start -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="gny6QgGym4N3DSAmY1nACglx0PzktrRt"/> <!-- //key:开发者申请的Key -->
        <!-- 百度地图 -end -->

        <!-- share SDK -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="207771c545620"/>
        <meta-data
            android:name="Mob-AppSecret"
            android:value="57aa4aaa13c89a23926a74a4dda40e7a"/>

        <!-- shareSDK -->
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Android 7.0 读取文件适配 START -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xdjd.distribution.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <!-- Android 7.0 读取文件适配 END -->

        <!-- 友盟推送start -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="596da5f5c62dca7bef0014b8">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="e562c71a96a6f61533e64582a77db3d1">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}">
        </meta-data>
        <!-- 友盟推送end -->

        <!-- 启动页 -->
        <activity
            android:name=".activity.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 系统配置 -->
        <activity android:name=".activity.SystemConfigurationActivity"/>

        <!-- 登录界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"/>
        <!-- 找回密码 -->
        <activity android:name=".activity.ForgotPwdActivity"/>
        <!-- 主界面 -->
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 绑定微信 -->
        <activity android:name=".activity.WxBindActivity"/>
        <!-- 客户通讯录 -->
        <activity
            android:name=".activity.CustomerAddressListActivity"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 定位界面 -->
        <activity android:name=".activity.PositionLocationActivity"/>
        <!-- 客户信息卡 -->
        <activity android:name=".activity.ClientDetailActivity"/>
        <!--客户信息展示-->
        <activity android:name=".activity.CustomerInformationActivity"/>
        <!--客户信息编辑界面-->
        <activity android:name=".activity.EditCustomerInformationActivity"/>
        <!-- 选择客户 -->
        <activity android:name=".activity.SelectClientActivity"/>
        <!-- 拍照界面 -->
        <activity
            android:name=".activity.TakingPicturesActivity"
            android:screenOrientation="portrait"/>
        <!-- 店铺店面拍照界面 -->
        <activity android:name=".activity.PicturesActivity"/>
        <!-- 图片浏览 -->
        <activity android:name=".activity.PhotoActivity"/>
        <!-- 客户列表 -->
        <activity android:name=".activity.CustomerListActivity"/>
        <!-- 添加客户 -->
        <activity android:name=".activity.AddClientActivity"/>
        <!-- 地图选择定位界面 -->
        <activity
            android:name=".activity.MapLocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!-- 选择客户类别和渠道界面 -->
        <activity android:name=".activity.SelectCategoryChannelActivity"/>
        <!-- 开通商城 -->
        <activity android:name=".activity.OpenMallActivity"/>
        <!-- 商城开通成功界面 -->
        <activity android:name=".activity.OpenMallSuccessActivity"/>

        <!-- 订货、代销进货 -->
        <activity
            android:name=".activity.CommissionSalesActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 订货 -->
        <activity android:name=".activity.PlaceOrderActivity"/>

        <!--选择铺货申报仓库-->
        <activity android:name=".activity.SelectPHStoreActivity"/>
        <!--铺货申报-->
        <activity android:name=".activity.RolloutGoodsDeclareActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--铺货配送任务界面-->
        <activity android:name=".activity.PHDistributionTaskActivity"/>
        <!--铺货任务配送操作界面-->
        <activity android:name=".activity.PHDistributionActivity"/>
        <!--铺货主界面-->
        <activity android:name=".activity.RolloutGoodsActivity"/>
        <!--去铺货-->
        <!--<activity android:name=".activity.GoRolloutGoodsActivity"-->
                  <!--android:windowSoftInputMode="adjustPan"/>-->
        <activity android:name=".activity.NewGoRolloutGoodsActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--铺货销售-->
        <activity android:name=".activity.RolloutGoodsSellActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--铺货撤货界面-->
        <activity android:name=".activity.RolloutGoodsWithdrawActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--铺货店铺汇总-->
        <activity android:name=".activity.RolloutGoodsListingActivity"/>
        <!--铺货汇总详情列表-->
        <activity android:name=".activity.RolloutGoodsDetailActivity"/>
        <!--搜索商品界面-->
        <activity android:name=".activity.SearchGoodsActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--铺货商品活动展示结算界面-->
        <activity android:name=".activity.NewRolloutGoodsSubmitActivity"/>
        <!--铺货商品结算提交界面-->
        <activity android:name=".activity.RolloutGoodsSubmitActivity"/>
        <!--铺货所有订单成功跳转界面-->
        <activity android:name=".activity.RolloutGoodsSuccessActivity"/>
        <!--铺货、销售和撤货单据列表-->
        <activity android:name=".activity.RolloutGoodsOrderActivity"/>
        <!--铺货、销售和撤货单据详情列表-->
        <activity android:name=".activity.RolloutGoodsOrderDetailActivity"/>
        <activity android:name=".activity.RolloutGoodsOrderDetailActivityCopy"/>
        <!--铺货销售/撤货记录-->
        <activity android:name=".activity.RolloutOperationRecordsActivity"/>

        <!--返陈列商品列表-->
        <activity android:name=".activity.DisplayFeeActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--返陈列结算列表-->
        <activity android:name=".activity.DisplayFeeSettlementActivity"/>
        <!--返陈列列表查询-->
        <activity android:name=".activity.DisplayFeeQueryActivity"/>
        <!--返陈列详情-->
        <activity android:name=".activity.DisplayFeeOrderDetailActivity"/>

        <!-- 选择发货仓库 -->
        <activity android:name=".activity.SelectStoreActivity"/>
        <!-- 订单申报 -->
        <activity
            android:name=".activity.OrderDeclareActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 订单结算界面 -->
        <activity android:name=".activity.OrderSettlementActivity"/>
        <!-- 车销出库 -->
        <activity
            android:name=".activity.SalesOutboundActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 收款结算界面 -->
        <activity android:name=".activity.SalesSettlementActivity"/>
        <!-- 订货结算界面 -->
        <activity
            android:name=".activity.ApplyOrderSettlementActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 收付款 -->
        <activity
            android:name=".activity.ReceiptPaymentActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 现金日报 -->
        <activity android:name=".activity.CashReportDayActivity"/>
        <!-- 现金日报打印设置界面 -->
        <activity android:name=".activity.CashReportSettingActivity"/>
        <!-- 库存管理 -->
        <activity
            android:name=".activity.InventoryManagementActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 配送任务列表 -->
        <activity android:name=".activity.DistributionTaskActivity"/>
        <!-- 配送出库 -->
        <activity android:name=".activity.DistributionWarehouseActivity"/>
        <!-- 配送任务商品操作界面 -->
        <activity
            android:name=".activity.DistributionActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!--H5公共界面-->
        <activity android:name=".activity.CommonWebActivity"/>
        <!-- 二维码界面 -->
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--订货查询-->
        <activity android:name=".activity.OrderGoodsSearchActivity"/>
        <!--订货详情-->
        <activity android:name=".activity.PlaceAnOrderDetailActivity"/>
        <!-- 订单查询 -->
        <activity
            android:name=".activity.OrderSearchActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 订单详情 -->
        <activity android:name=".activity.OrderDetailActivity"/>
        <!-- 出库查询 -->
        <activity android:name=".activity.OutboundQueryActivity"/>
        <!-- 出库查询详情界面 -->
        <activity android:name=".activity.OutboundDetailActivity"/>
        <!-- 收付款查询 -->
        <activity android:name=".activity.ReceiptPaymentQueryActivity"/>
        <!-- 收付款明细界面 -->
        <activity android:name=".activity.ReceiptPaymentDetailActivity"/>
        <!-- 应收款查询 -->
        <activity android:name=".activity.ReceivableSearchActivity"/>
        <!-- 应收款详情 -->
        <activity android:name=".activity.ReceivableDetailActivity"/>
        <!-- 选择退货仓库 -->
        <activity android:name=".activity.RefundStoreActivity"/>
        <!-- 退货申请 -->
        <activity
            android:name=".activity.RefundApplyActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 新样式退货申请 -->
        <activity android:name=".activity.RefundApplyCopyActivity"/>
        <!-- 选择要货仓库 -->
        <activity android:name=".activity.RequireGoodsStoreActivity"/>
        <!-- 要货申请 -->
        <activity
            android:name=".activity.RequireGoodsApplyActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 单据补打 -->
        <activity android:name=".activity.VoucherReprintActivity"/>
        <!-- 设置时间选择条件 -->
        <activity android:name=".activity.SetTimeActivity"/>
        <!-- 客户盘点 -->
        <activity
            android:name=".activity.CustomerInventoryActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 客户盘点查询 -->
        <activity android:name=".activity.CusInventoryQueryActivity"/>
        <!-- 客户盘点详情 -->
        <activity android:name=".activity.InventoryDetailActivity"/>
        <!-- 盘点提交界面 -->
        <activity android:name=".activity.InventorySubmitActivity"/>

        <!-- 系统 -->
        <activity android:name=".activity.SystemActivity"/>
        <!-- 打印配置 -->
        <activity android:name=".activity.PrintSettingActivity"/>
        <!-- 修改密码 -->
        <activity android:name=".activity.ChangePasswordActivity"/>
        <!-- 密码锁 -->
        <activity android:name=".activity.GestureLockActivity"/>
        <!-- 设置密码锁手势 -->
        <activity android:name=".activity.SetGestureActivity"/>
        <!-- 业务员拜访提醒activity -->
        <activity android:name=".activity.VisitingAlarmActivity"/>
        <!-- 业务员拜访记录 -->
        <activity android:name=".activity.VisitingListActivity"/>
        <!-- 消息界面 -->
        <activity android:name=".activity.MessageActivity"/>
        <!-- 客户反馈列表 -->
        <activity android:name=".activity.CustomerFeedbackActivity"/>
        <!--业务员附近客户-->
        <activity android:name=".activity.NearCustomerActivity"/>
        <!--根据订单退货列表界面-->
        <activity android:name=".activity.OrderReturnActivity"/>
        <!--店铺结算汇总界面-->
        <activity android:name=".activity.ShopAuditActivity"/>
        <!--核销详情列表-->
        <activity android:name=".activity.ShopAuditDetailActivity"/>
        <!--店铺奖品核销详情-->
        <activity android:name=".activity.ShopWinningRecordActivity"/>
        <!--店铺中奖详情-->
        <activity android:name=".activity.ShopWinningRecordDetailAtivity"/>
        <!--兑奖核销界面-->
        <activity android:name=".activity.RedeemActivity"/>
        <!--绑定设备-->
        <activity android:name=".activity.BindingFacilityActivity"/>
        <!--会员列表-->
        <activity android:name=".activity.MemberListingActivity"/>
        <!--分享小店下载地址-->
        <activity android:name=".activity.ShareDownloadActivity"/>
        <!--核销记录列表-->
        <activity android:name=".activity.CashPrizesRecordAtivity"/>
        <!--选择客户信息列表-->
        <activity android:name=".activity.CustomerSelectListingActivity"/>
        <!--已绑定设备的店铺列表-->
        <activity android:name=".activity.BindingFacilityShopActivity"/>

        <!-- =================报表界面=================== -->
        <activity android:name="com.xdjd.steward.main.StewardActivity"/>
        <!-- 个人信息设置界面 -->
        <activity android:name="com.xdjd.steward.activity.SettingActivity"/>
        <!-- 收入上交款 -->
        <activity android:name="com.xdjd.steward.activity.IncomeHandInActivity"/>
        <!-- 业务员销售排行 -->
        <activity android:name="com.xdjd.steward.activity.SalesmanRankingActivity"/>
        <!-- 业务员退货排行 -->
        <activity android:name="com.xdjd.steward.activity.SalesmanRefundActivity"/>
        <!-- 拜访明细 -->
        <activity android:name="com.xdjd.steward.activity.SalesmanVisitingActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 商品销售/退货排行 -->
        <activity android:name="com.xdjd.steward.activity.GoodsRankingActivity"/>
        <!--铺货销售排行-->
        <activity android:name="com.xdjd.steward.activity.SalesmanPhRakingActivity"/>
        <!-- 库存数量 -->
        <activity android:name="com.xdjd.steward.activity.StockNumActivity"/>
        <!-- 库存余额 -->
        <activity android:name="com.xdjd.steward.activity.StockBalanceActivity"/>
        <!-- 访店达成率 -->
        <activity android:name="com.xdjd.steward.activity.VisitRateActivity"/>
        <!-- 车辆位置 -->
        <activity android:name="com.xdjd.steward.activity.CartLocationActivity"/>
        <!-- 查看更多拜访排名 -->
        <activity android:name="com.xdjd.steward.activity.VisitMoreActivity"/>
        <!-- 客户订货列表 -->
        <activity android:name="com.xdjd.steward.activity.CustomerOrderGoodsActivity"/>

        <!-- 客户信息列表 -->
        <activity android:name="com.xdjd.steward.activity.CustomerInformationActivity"/>
        <!-- 员工访店明细汇总 -->
        <activity android:name="com.xdjd.steward.activity.StaffVisitListActivity"/>
        <!--商品下店铺核销详情-->
        <activity android:name="com.xdjd.steward.activity.GoodsUpShopWinningActivity"/>
        <!--活动参与记录-->
        <activity android:name="com.xdjd.winningrecord.activity.ActionDetailActivity"/>
        <!--铺货商品汇总界面-->
        <activity android:name="com.xdjd.steward.activity.RolloutGoodsSummaryActivity"/>
        <activity android:name="com.xdjd.steward.activity.RolloutGoodsShopDetailActivity"/>
        <activity android:name="com.xdjd.steward.activity.RolloutShopSummaryActivity"/>
        <activity android:name="com.xdjd.steward.activity.RolloutSalesmanSummaryActivity"/>
        <!--店铺铺货商品列表-->
        <activity android:name="com.xdjd.steward.activity.RolloutShopGoodsActivity"/>
        <!--管理端返陈列汇总列表-->
        <activity android:name="com.xdjd.steward.activity.DisplayFeeStatisticalActivity"/>
        <!--返陈列汇总详情-->
        <activity android:name="com.xdjd.steward.activity.DisplayFeeStatisticalDetailActivity"/>
        <!--编辑线路界面-->
        <activity android:name="com.xdjd.steward.activity.EditCustomerLineActivity"/>

        <!--*****************店铺信息采集****************************-->
        <activity android:name="com.xdjd.shopInfoCollect.main.ShopInfoCollectActivity"/>
        <activity android:name="com.xdjd.shopInfoCollect.activity.CollectClientActivity"/>
        <activity android:name="com.xdjd.shopInfoCollect.activity.MeInfoActivity"/>
        <activity android:name="com.xdjd.shopInfoCollect.activity.SetUpActivity"/>

        <!--店铺采集主界面-->
        <activity android:name="com.xdjd.shopInfoCollect.main.ShopCollectMainActivity"/>

        <!--商品核销界面-->
        <activity android:name="com.xdjd.winningrecord.main.RecordMainActivity"/>
        <!--用户列表-->
        <activity android:name="com.xdjd.winningrecord.activity.UserListingActivity"/>

    </application>

</manifest>